@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #5c56e1;
  --color-primary-dark: #5b21b6;
  --color-accent: #8b5cf6;
  --color-card: #ffffff;
  --color-input: #f1f1ff;
  --color-text: #09090e;
  --color-placeholder: #5c5a87;
  --color-border: #d4d4ed;
  --color-gradient: linear-gradient(135deg, #5c56e1, #8b5cf6);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--color-text);
  background: linear-gradient(#e9e9ff, #c8c7ff);
}

.container {
  width: 900px;
  padding: 32px;
  border-radius: 23px;
  position: relative;
  overflow: hidden;
  background: var(--color-card);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--color-gradient);
}
/* https://youtu.be/J5zsvyEfhi4?list=PLsCW_fs-2AQ4LLsJlAqhQK9z7wkoWL7Pk&t=667 */
